Elem Regen
{
	# Base stat regenerating rates in points per minute.
	Hits			20
	Mana			10
	Stamina			25	
}

Elem Skills
{
	FreeGainUntil	10.0	// Always award a part of the points when the base skill is lower than this.
	MinChance		0		// Min % of success.
	MaxChance		100		// Max % of success.
	
	// Maximum value of all skills combined.
	TotalCap		7000.0
}

Elem Stats
{
	// Maximum value of all stats combined.
	TotalCap		225.0
	
	// Individual stat caps - highest they are allowed to go.
	Strength		100.0
	Dexterity		100.0
	Intelligence	100.0
}
