# $Id$
#
#
NPCTemplate ExampleNPC
{
	Name		<Example NPC>
	Script		:brainAI:brain
	ObjType		0x190
	Color		0
	TrueColor	0
	Gender		0
	AR		25
	RunSpeed	200
	Category	Testing
	
	// Attributes
	Strength	100
	Intelligence	1
	Dexterity	10
	
	// Vitals
	HITS		100
	MANA		1
	STAM		100
		
	AISetting	CycleWait	i10
	AISetting	FleeLevel	i50 // 50%
	AISetting	IdleTicks	i5
	AISetting	SleepWait	i1000
	AISetting	ListenRange	i10
	AISetting	AreaSize	i5
	AISetting	DblClickRange	i10
	AISetting	HearSpeech	i1
	AISetting	HearGhosts	i1

	AIScript	Combat		:brainAI:complete/exampleNPC/combat
	AIScript	Cycle		:brainAI:complete/exampleNPC/cycle
	AIScript	DblClick	:brainAI:complete/exampleNPC/doubleClick
	AIScript	Disengaged	:brainAI:complete/exampleNPC/disengaged
	AIScript	EnterArea	:brainAI:complete/exampleNPC/enteredArea
	AIScript	GoneCriminal	:brainAI:complete/exampleNPC/goneCriminal
	AIScript	Init		:brainAI:complete/exampleNPC/init
	AIScript	ItemGiven	:brainAI:complete/exampleNPC/itemGiven
	AIScript	LeftArea	:brainAI:complete/exampleNPC/leftArea
	AIScript	LookAround	:brainAI:complete/exampleNPC/lookAround
	AIScript	Listen		:brainAI:complete/exampleNPC/listen
	AISCript	Merchant	:brainAI:complete/exampleNPC/merchant
	AIScript	Restart		:brainAI:complete/exampleNPC/restart
	AIScript	Sleep		:brainAI:complete/exampleNPC/sleep
	AIScript	ShouldWatch	:brainAI:complete/exampleNPC/shouldWatch
	AIScript	Virtual		:brainAI:complete/exampleNPC/virtual
	AIScript	EndFight	:brainAI:complete/exampleNPC/endFight
}

NPCTemplate Rigger
{
	Name		a rigger
	Script		:brainAI:brain
	ObjType		0x27
	Color		0
	TrueColor	0
	Gender		0
	AR		1
	RunSpeed	25
	Category	Monster
		
	// Attributes
	Strength	15
	Intelligence	5
	Dexterity	35
	Wrestling	35
	Tactics		10
	
	// Vitals
	HITS		25
	MANA		0
	STAM		35
	
	AttackAttribute	Wrestling
	AttackSpeed	20
	AttackDamage	2d5
	AttackHitSound	0x1A9
	AttackMissSound	0x239
	DeathSound	0x1AB
	DamagedSound	0x1AA
	
	AIScript	Combat		:brainAI:scripts/combat/rigger
	AIScript	EnterArea	:brainAI:scripts/enterArea/generic
	AIScript	LeftArea	:brainAI:scripts/leftArea/generic
	AIScript	LookAround	:brainAI:scripts/lookAround/findAttackables
	AIScript	Sleep		:brainAI:scripts/sleep/generic
	AIScript	ShouldWatch	:brainAI:scripts/shouldWatch/targetPlayers
	
	AttackHitScript		:combat:mainhitscript
}
